{% extends "post_base.html" %}

{% block posts %}
<ul class="list-group" style="border:2px solid grey;border-radius: 10px;">
	<li class="list-group-item active">
		<h5>Kategorideki Tüm Yazılar</h5>
	</li>
	{% if articles %}
    {% for obj in articles %}
	<li class="list-group-item" style="font-family:'Verdana;'; text-align: left">
		<a href="/posts/{{obj.categories}}/{{obj.slug}}"> {{ obj.title }}</a>
    </li>
    {% endfor %}
	{% else %}
	<li class="list-group-item" style="font-family:'Verdana;'; text-align: left">
		<p>Makale Bulunamadı</p>
    </li>
	{% endif %}
</ul>
{% endblock posts %}
